<%= turbo_frame_tag "modal" do %>
  <main class="new-bid">
    <div class="container">
      <div class="top">
        <div>
          <div class="title">Update Bid</div>
          <div class="min">
            You must bid at least
            <%= number_to_currency(
              @bid.product.starting_bid_price,
              unit: "₱",
              strip_insignificant_zeros: true
            ) %></div>
          <% if @lowest_bid.present? %>
            <div class="lowest">
              Current lowest bid:
              <%= number_to_currency(@lowest_bid, unit: "₱", strip_insignificant_zeros: true) %>
            </div>
          <% end %>
        </div>
        <%= image_for(@bid.product) %>
      </div>
      <%= render "form", bid: @bid, url: product_bid_path(@product, @bid) %>
      <%= link_to "Close", :back, class: "back" %>
    </div>
  </main>
<% end %>
