<%= turbo_frame_tag bid.product do %>
  <div class="container">
    <div class="name">
      <div class="left">
        <div class="title">
          <%= bid.product.name %>
        </div>
        <div class="min">
          Minimum bid:
          <span>
            <%= number_to_currency(
              bid.product.starting_bid_price,
              unit: "₱",
              strip_insignificant_zeros: true
            ) %>
          </span>
        </div>
        <div class="status">
          <% if bid.product.active? %>
            <div class="active">
              ongoing
            </div>
          <% else %>
            <div class="inactive">
              ended
            </div>
          <% end %>
        </div>
      </div>
      <%= image_for(bid.product) %>
    </div>
    <div class="description">
      <div id="details">Details:</div>
      <div><%= bid.product.description %></div>
    </div>
    <div class="expiry">
      <% if bid.product.active? %>
        Bidding ends on
        <strong>
          <%= bid.product.bidding_expiration.strftime("%b %d, %Y") %>
        </strong>
      <% elsif bid.product.expired? && bid.product.bids.any? %>
        <div class="winner">
          Winner:
          <strong>
            <%= bid.product.bids.bid_winner.user.full_name %>
            🎉
          </strong>
        </div>
      <% else %>
        No bidders.
      <% end %>

    </div>
    <div class="amount-placed">
      Placed
      <%= number_to_currency(bid.amount, unit: "₱", strip_insignificant_zeros: true) %>
    </div>
    <div class="buttons">
      <% if current_user.user? && bid.product.active? %>
        <div class="user-button">
          <%= link_to "Update Bid",
          edit_product_bid_path(bid.product, bid),
          data: {
            turbo_frame: "modal"
          } %>
        </div>
      <% elsif current_user.user? && bid.product.expired? %>
        <div class="ended">
          The bidding has ended.
          <% if bid.product.bids.bid_winner == bid %>
            You won!
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
