<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Starting bid price:</strong>
    <%= number_to_currency(
      product.starting_bid_price,
      unit: "₱",
      strip_insignificant_zeros: true
    ) %>
  </p>

  <p>
    <strong>Bidding expiration:</strong>
    <%= product.bidding_expiration.strftime("%a, %d %b %Y %I:%M %p") %>
  </p>

</div>
