<main class="products">
  <%= render "layouts/nav" %>
  <section>
    <div class="top">
      <div class="title">All Products</div>
      <% if current_user.admin? %>
        <%= link_to "+ Add New", new_product_path, data: { turbo_frame: "modal" } %>
      <% end %>
    </div>
    <%= turbo_frame_tag "products", id: "products" do %>
      <%= render @products %>
    <% end %>
  </section>
</main>
<%= turbo_frame_tag "modal" %>
