<p style="color: green"><%= notice %></p>

<%= render @product %>

<% if current_user.admin? %>

  <div>
    <%= link_to "Edit this product", edit_product_path(@product) %>
    <%= link_to "Destroy this product",
    @product,
    data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>
<% end %>

<% if @product.expired? %><br>
  Bidding has ended. <br><br>
  <%= @product.bids.any? ? "Winner: #{@product.bids.bid_winner.user.full_name}" : "No bidders." %>
<% else %>

  <% if current_user.admin? && @product.bids.any?%>
    <br>Bidders:<br>
    <% @product.bids.order(amount: :desc).each do |bid| %>
      <ul>
        <li>
          Name:
          <%= bid.user.full_name %><br>
          Amount:
          <%= number_to_currency(bid.amount, unit: "₱", strip_insignificant_zeros: true) %>
        </li>
      </ul>
    <% end %>
  <% else %>
    <% bid = @product.bids.find_by(user_id: current_user.id) %>
    <% if bid %>
      You placed a bid worth
      <%= number_to_currency(bid.amount, unit: "₱", strip_insignificant_zeros: true) %>
      <%= link_to "Edit Bid", edit_product_bid_path(@product, bid) %>
    <% else %>
      <%= link_to "Place a Bid", new_product_bid_path(@product) %>
    <% end %>
  <% end %>
<% end %>
<br><br>

<% if current_user.admin? %>
<% if @product.active? %>
  <%= form_for @product do |f| %>
    <%= f.hidden_field :bidding_status, value: "expired" %>
    <%= f.submit "Stop Bid" %>
  <% end %>
<% else %>
  <%= form_for @product do |f| %>
    <%= f.hidden_field :bidding_status, value: "active" %>
    <%= f.submit "Resume Bid", disabled: @isResumable %>
  <% end %>
<% end %>
<% end %>
<br>

<%= link_to "Back to products", products_path %>
